@{
    ViewData["Title"] = "Home Page";
    Layout = @"_Layout";
}


<div class="siteLink my-5 container">
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent ">
            <a href="/#"><strong>Nueva solicitud</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent ">
            <a href="/#"><strong>Almacén de películas</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent ">
            <a href="/#"><strong>Lista de espera</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent">
            <a href="/Partner/Index"><strong>Socios</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent">
            <a href="/#"><strong>Recibir película</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent">
            <a href="/#"><strong>Películas prestadas</strong></a>
        </div>
    </div>
    <div class="card  siteLinkItem">
        <div class="card-body text-center siteLinkitemContent">
            <a href="/#"><strong>Películas devueltas</strong></a>
        </div>
    </div>
</div>
